<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FoodController</servlet-name>
  	<display-name>FoodController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.FoodController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuServlet</servlet-name>
  	<display-name>MenuServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StaffController</servlet-name>
  	<display-name>StaffController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.StaffController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMenuItemsController</servlet-name>
  	<display-name>GetMenuItemsController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.GetMenuItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodController</servlet-name>
  	<url-pattern>/FoodController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuServlet</servlet-name>
  	<url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StaffController</servlet-name>
  	<url-pattern>/StaffController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMenuItemsController</servlet-name>
  	<url-pattern>/GetMenuItemsController</url-pattern>
  </servlet-mapping>
</web-app>
